*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
body::-webkit-scrollbar{
    width: 8px;

}
body::-webkit-scrollbar-track{

    background-color: darkgray;
}
body::-webkit-scrollbar-thumb{
    background-color: #FF5D08;
    border-radius: 10px ;
}
.scroll-button{
    height: 35px;
    width: 35px;
    background-color: #FF5D08;
    position: fixed;
    z-index: 500;
   right: 20px;
    bottom: 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-angle-up{
    color: white;
}
.main-header-outer{
    width: 100%;
    height: 90px;
    /*border :1px solid red;*/
    display: flex;
}
.top-bar-left{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.top-bar-left>img{
    width: 150px;

}

.top-bar-right{
    width: 200px;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
/*nav bar styles */
.nav-bar-outer{
    list-style: none;
    display: flex;


}

.nav-bar-outer>li{
    padding: 5px 10px;
    border-bottom: 2px solid transparent;

}
.nav-bar-outer > li > span > a {
    text-decoration: none;
    color: black;
}
.nav-bar-outer>li:hover{
    /*border-bottom: 2px solid red;*/
    border-color:red;
}
.nav-bar-outer>li:last-child:hover{
    border-color: transparent;
}
.contact-us-now-button{
    background-color:#FF5D08 ;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #FF5D08 ;

}
.contact-us-now-button:hover{
    cursor: pointer;
    background-color: white;
    color: #FF5D08;
}

/*nav bar styles */

/*landing slider*/
.landing-page-slider-outer{
    width: 100%;
    height: 550px;
    /*border:  1px solid red;*/
    display:flex;
}
.landing-page-slider-right{
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.slider-short-desc{

    padding-bottom:10px;
    text-align:left
}
.landing-page-inner{
    /*border: 1px solid red;*/
    flex: 1;
}
.landing-page-slider-left{
    display: flex;
    align-items: center;

}

.landing-page-slider-left> img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

}
.welcome-text{
    color:#FF6411;
    text-transform:uppercase;
}

.slider-inner-button-wrapper{
    width: 100%;
    height: 50px;
    /*border: 1px solid red;*/
    display: flex;

}
.message-us-button{
    border: 1px solid #02AAF5;
    color: white;
    border-radius: 50px;
    padding: 8px 18px;
    background-color:#02AAF5;

}
.message-us-button:hover{
    cursor:pointer;
    background-color:white;
    color: #2696D8;

}
.round-button-outer{
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;



}
.round-button-outer> button{
    width: 40px;
    height: 40px;
    background-color: #FF5D08;
    border-radius: 100% ;
    border-color: #FF5D08;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    margin-left: 15px;
}
.round-button-outer> button:hover{
    color: #FF5D08;
    cursor: pointer;
    background-color: white;
   

}
/* .round-button-outer> button:hover>i{
    color:#FF5D08;

} */
.fa-phone{
    color: white;
}
.fa-phone:hover{
    color:#FF5D08
}
.contact-text{
    color: #FF6411;
}

/*landing slider*/

/*service area*/
.service-outer{
    margin-top: 70px;
    width: 100%;
    height: auto;
    /*border: 1px solid red;*/


}
.service-header-text{
    text-align: center;
}


.service-inner-wrapper{
    height: 900px;
    width: 100%;
    /*border: 1px solid red;*/
    display: flex;
    margin-top: 50px;

}
.service-inner{
    width: 100%;
    height: 500px;
   
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;




}
.service-inner-context{
    /*border: 1px solid red;*/
    flex: 1;
}
.service-title{
    text-align: center;
}
.service-img{
    text-align: center;
}
.service-img>svg{
    width: 150px;
    height: 150px;


}
.service-desc{
    font-weight: lighter;
    text-align: justify;
    color: darkgray;
}



